<a href="https://colab.research.google.com/github/TetianaMar-888/Python_for_ds_tasks/blob/main/Marinoshenko_Tetiana_HW1_%D0%97%D0%BC%D1%96%D0%BD%D0%BD%D1%96_%D1%82%D0%B0_%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%BD%D1%96_%D1%82%D0%B8%D0%BF%D0%B8_%D0%B4%D0%B0%D0%BD%D0%B8%D1%85_%D0%B2_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## HW1. Змінні та основні типи даних в Python

**1. Створення змінних**

Створіть змінні для особистої інформації (кожен пункт оцінюється в 0.5 бала):
- `name` - ваше ім'я (рядок)
- `age` - ваш вік (ціле число)
- `height` - ваш зріст в метрах (дробове число)
- `is_student` - чи є ви студентом (True/False)

Виведіть кожну з цих змінних за допомогою функції `print()`.

In [1]:
name = "Tetiana"
age = 34
height = 1.77
is_student = True

In [2]:
print(name)
print(age)
print(height)
print(is_student)

Tetiana
34
1.77
True


---

**2. Арифметичні операції**

Створіть дві змінні: `var1` зі значенням 15, `var2` зі значенням 4.

Обчисліть та виведіть (кожен пункт оцінюється в 0.5 бала):
- Суму
- Різницю
- Добуток
- Ділення
- Цілочисельне ділення
- Залишок від ділення
- Піднесення до степеня

In [3]:
var1 = 15
var2 = 4

In [4]:
print(var1 + var2)
print(var1 - var2)
print(var1 * var2)
print(var1 / var2)
print(var1 // var2)
print(var1 % var2)
print(var1 ** var2)

19
11
60
3.75
3
3
50625


---

**3. Робота з рядками**

Створіть зміну `last_name`, яка містять ваше прізвище.

Виконайте (кожен пункт оцінюється в 0.5 бала):
- Об'єднайте значення змінних `name` та `last_name` через пробіл в один рядок і збережіть в нову змінну `full_name`
- Виведіть `full_name` великими літерами
- Виведіть `full_name` малими літерами
- Виведіть довжину `full_name`
- Виведіть фразу: "Мене звати [ім'я], мені [вік] років". Вік використайте зі змінної, створеної у вправі 1.

In [5]:
last_name = "Marinoshenko"

In [7]:
full_name = name + " " + last_name
full_name

'Tetiana Marinoshenko'

In [10]:
print(full_name.upper())
print(full_name.lower())
print(len(full_name))

TETIANA MARINOSHENKO
tetiana marinoshenko
20

In [11]:
print(f"My name is {name} and I am {age} years old")

My name is Tetiana and I am 34 years old