<a href="https://colab.research.google.com/github/TetianaMar-888/Python_for_ds_tasks/blob/main/Marinoshenko_Tetiana_HW4_%D0%A6%D0%B8%D0%BA%D0%BB_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Цикл for - базовий**

Використовуючи цикл `for`, виведіть числа від 1 до 7 включно використовуючи функцію range.

In [ ]:
for i in range(1, 8, 1):
  print(f"число {i}")

число 1
число 2
число 3
число 4
число 5
число 6
число 7


---

**2. Цикл for по списку**

Дано список:

In [ ]:
names = ["Олег", "Анна", "Іван", "Марія"]


Використовуючи цикл, виведіть кожне ім'я з привітанням: "Привіт, [ім'я]!"

In [ ]:
for name in names:
 print(f"Привіт, {name}")

Привіт, Олег
Привіт, Анна
Привіт, Іван
Привіт, Марія


---

**3. Цикл з enumerate**

Дано список оцінок:

In [ ]:
grades = [85, 92, 78, 95, 88]


Використовуючи `enumerate`, виведіть кожну оцінку з номером: "Студент 1: 85 балів"

In [ ]:
for i, grade in enumerate(grades):
  print(f"Студент{i+1}: {grade} балів")

Студент1: 85 балів
Студент2: 92 балів
Студент3: 78 балів
Студент4: 95 балів
Студент5: 88 балів

**4. Сума парних чисел**

Напишіть програму, яка обчислює суму всіх парних чисел від 1 до 20 включно.

In [ ]:
list(range(2, 21, 2))
numbers = list(range(2, 21, 2))
print(sum(numbers))

110