<a href="https://colab.research.google.com/github/TetianaMar-888/Python_for_ds_tasks/blob/main/Marinoshenko_Tetiana_HW6_%D0%A4%D1%83%D0%BD%D0%BA%D1%86%D1%96%D1%97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Функція з параметром**

Створіть функцію `show_menu()`, яка приймає перелік страв, наприклад ['Піца', 'Паста', 'Салат'] і виводить меню ресторану в наступному вигляді:
```
=== МЕНЮ ===
1. Піца
2. Паста
3. Салат
=============
```

Викличте цю функцію на списку ["Суп грибний", "Котлета по-київськи", "Лимонад"].

In [1]:
dish = ["Піца", "Паста", "Салат"]

In [2]:
def show_menu():
  print("=== МЕНЮ ===")
  for i in range(len(dish)):
    print(f"{i+1}. {dish[i]}")
  print("============")

In [3]:
show_menu()

=== МЕНЮ ===
1. Піца
2. Паста
3. Салат
============

In [4]:
dish = ["Суп грибний", "Котлета по-київськи", "Лимонад"]

In [5]:
show_menu()

=== МЕНЮ ===
1. Суп грибний
2. Котлета по-київськи
3. Лимонад
============


---

**2. Функція з параметром**

Створіть функцію `print_square(n)`, яка виводить квадрат числа.

Наприклад: `print_square(5)` → "Квадрат числа 5 = 25"

Викличте її з різними числами.

In [6]:
def print_square(n):
  print(f"Квадрат числа {n} = {n**2}")

In [8]:
n = 8
print_square(8)

Квадрат числа 8 = 64

In [9]:
n = 11
print_square(11)

Квадрат числа 11 = 121

In [10]:
print_square(12)

Квадрат числа 12 = 144

In [11]:
print_square(5)

Квадрат числа 5 = 25

In [12]:
print_square(33)

Квадрат числа 33 = 1089


---

**3. Функція з поверненням значення**

Створіть функцію `multiply(a, b)`, яка повертає добуток двох чисел.

Викличте функцію на власноруч заданих значеннях та виведіть результат.

In [13]:
def multiply(a, b):
  return a*b

In [14]:
result = multiply(3, 5)
print(result)

15

In [15]:
multiply(5, 5)

25

In [16]:
multiply(8, 2)

16


---

**4. Функція пошуку максимумального значення**

Створіть функцію `find_max(numbers)`, яка:
- Приймає список чисел
- Повертає найбільше число в списку

Протестуйте на списку `[15, 42, 8, 23, 56, 19]`.

In [17]:
numbers = [15, 42, 8, 23, 56, 19]

In [18]:
def find_max(numbers):
  return max(numbers)

In [20]:
find_max(numbers)

56


---

**5. Функція з умовами**

Створіть функцію `check_grade(grade)`, яка:
- Приймає оцінку (число)
- Повертає "Здав" якщо grade >= 60
- Повертає "Не здав" якщо grade < 60

Протестуйте на різних оцінках.

In [64]:
def check_grade(grade):
  return "Здав" if grade >= 60 else  "Не здав"

In [65]:
check_grade(99)

'Здав'

In [66]:
check_grade(37)

'Не здав'