<a href="https://colab.research.google.com/github/TetianaMar-888/Python_for_ds_tasks/blob/main/Test_22_10_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd

pd.set_option('display.max.rows',130)
pd.set_option('display.max.columns',130)
pd.set_option('float_format', '{:.2f}'.format)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
#!ls 'drive/MyDrive/Machine_Learning'

In [6]:
df = pd.read_csv('drive/MyDrive/Machine_Learning/cities.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LatD      128 non-null    int64
 1    "LatM"   128 non-null    int64
 2    "LatS"   128 non-null    int64
 3    "NS"     128 non-null    object
 4    "LonD"   128 non-null    int64
 5    "LonM"   128 non-null    int64
 6    "LonS"   128 non-null    int64
 7    "EW"     128 non-null    object
 8    "City"   128 non-null    object
 9    "State"  128 non-null    object
dtypes: int64(6), object(4)
memory usage: 10.1+ KB

In [9]:
df.head()

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI

In [25]:
df.columns = df.columns.str.replace('"', '').str.strip()
df['City'] = df['City'].astype(str)

In [27]:
df.shape

(128, 10)

In [38]:
df['City'] = df['City'].str.replace('"', '').str.replace('"', '')

In [39]:
df['City']

0               Youngstown
1                  Yankton
2                   Yakima
3                Worcester
4          Wisconsin Dells
5            Winston-Salem
6                 Winnipeg
7               Winchester
8               Wilmington
9               Wilmington
10               Williston
11            Williamsport
12              Williamson
13           Wichita Falls
14                 Wichita
15                Wheeling
16         West Palm Beach
17               Wenatchee
18                    Weed
19                Waycross
20                  Wausau
21                Waukegan
22               Watertown
23               Watertown
24                Waterloo
25               Waterbury
26              Washington
27                  Warren
28             Walla Walla
29                    Waco
30               Vincennes
31                Victoria
32               Vicksburg
33               Vancouver
34             Valley City
35                Valdosta
36                   Utica
37               Uniontown
38                   Tyler
39              Twin Falls
40              Tuscaloosa
41                  Tupelo
42                   Tulsa
43                  Tucson
44                Trinidad
45                 Trenton
46           Traverse City
47                 Toronto
48                  Topeka
49                  Toledo
50               Texarkana
51             Terre Haute
52                   Tampa
53             Tallahassee
54                  Tacoma
55                Syracuse
56              Swainsboro
57                  Sumter
58             Stroudsburg
59                Stockton
60           Stevens Point
61            Steubenville
62                Sterling
63                Staunton
64             Springfield
65             Springfield
66             Springfield
67             Springfield
68                 Spokane
69              South Bend
70             Sioux Falls
71              Sioux City
72              Shreveport
73                 Sherman
74                Sheridan
75                Seminole
76                   Selma
77                 Sedalia
78                 Seattle
79                Scranton
80             Scottsbluff
81             Schenectady
82                Savannah
83      Sault Sainte Marie
84                Sarasota
85              Santa Rosa
86                Santa Fe
87           Santa Barbara
88               Santa Ana
89                San Jose
90           San Francisco
91                Sandusky
92               San Diego
93          San Bernardino
94             San Antonio
95              San Angelo
96          Salt Lake City
97               Salisbury
98                 Salinas
99                  Salina
100                 Salida
101                  Salem
102             Saint Paul
103            Saint Louis
104           Saint Joseph
105           Saint Joseph
106        Saint Johnsbury
107            Saint Cloud
108        Saint Augustine
109                Saginaw
110             Sacramento
111                Rutland
112                Roswell
113            Rocky Mount
114           Rock Springs
115               Rockford
116              Rochester
117              Rochester
118                Roanoke
119               Richmond
120               Richmond
121              Richfield
122            Rhinelander
123                   Reno
124                 Regina
125              Red Bluff
126                Reading
127                Ravenna
Name: City, dtype: object

In [31]:
help(str.lower)

Help on method_descriptor:

lower(self, /) unbound builtins.str method
    Return a copy of the string converted to lowercase.

In [40]:
letters = set("".join(df['City'].str.lower()))
print(letters)

{'c', ' ', 'p', 'g', 'o', 'b', 'f', 'j', 'v', 'a', 'n', '-', 'w', 'd', 't', 'l', 'i', 'm', 'e', 'h', 'u', 'r', 'y', 's', 'k', 'x'}

In [42]:
#df

In [49]:
sorted_letters = sorted(letters)
print(sorted_letters)

[' ', '-', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y']

In [50]:
sorted_letters[2:]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y']

In [56]:
df["hash32"] = df["letters"].apply(
    lambda s: hash(s) % 2**32
)

In [60]:
print(df["letters"])
print(df["hash32"])

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    r
17    s
18    t
19    u
20    v
21    w
22    x
23    y
Name: letters, dtype: object
0     3278208819
1     3845975333
2     1171956613
3     3952502230
4     3163854305
5     3202628263
6     3427263773
7     2854155874
8     1542147041
9      449738800
10    3422176761
11    2911193055
12     447575009
13    1745913659
14     815573022
15    2025197715
16    4182914792
17    1515080817
18     639975901
19     942589671
20    2680206769
21     442883917
22    3694929019
23    4270176621
Name: hash32, dtype: int64